# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\04\2019211001001127raoxiaofeng\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
